/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* purgecss end ignore */

@media (prefers-color-scheme: dark) {
  .dark\:BG-WhiteOP75 {
    background-color: rgb(255 255 255 / 0.75)!important;
  }
}

.BG-Gray800OP75 {
  background-color: rgb(31 41 55 / 0.75);;
}

.absensi#kelas {
    width: 50px
}

.title {
    font-size: 3rem
}
@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-sm;
  }
  #main a {
    @apply btn;
    @apply btn-primary
  }
}


#main a {
  font-weight: 800;
}